# Projet de prediction de l'état diabetique d'un patient

## - Objectif:

In [1]:
# Importation des modules élémentaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Jeu de donnees
df = pd.read_csv("diabetes_dataset.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [3]:
# Dimensions du jeu de données
df.shape

(100000, 9)

Le jeu de données conténant des informations médicales sur des patients contient 100000 enregistrement avec 9 variables.

In [4]:
# Examen des types de variables 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [8]:
col=["hypertension", "heart_disease", "diabetes"]
df[col]=df[col].astype("category")

In [13]:
col_num = list(df.select_dtypes([float,int]).columns)
col_cat = list(df.select_dtypes([object,"category"]).columns)

In [14]:
col_num
col_cat

['gender', 'hypertension', 'heart_disease', 'smoking_history', 'diabetes']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  category
 3   heart_disease        100000 non-null  category
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  category
dtypes: category(3), float64(3), int64(1), object(2)
memory usage: 4.9+ MB

## Etude statistique

In [15]:
df[col_num].describe().T

,count,mean,std,min,25%,50%,75%,max
age,100000.0,41.885856,22.516840,0.08,24.00,43.00,60.00,80.00
bmi,100000.0,27.320767,6.636783,10.01,23.63,27.32,29.58,95.69
HbA1c_level,100000.0,5.527507,1.070672,3.50,4.80,5.80,6.20,9.00
blood_glucose_level,100000.0,138.058060,40.708136,80.00,100.00,140.00,159.00,300.00

### Commentaire sur les variables numériques

- L'âge moyen des patients est de 42 ans. Age min est moins d'un an alors que l'age max est 80 ans.
    . 25% des patient sont jeunes, c'est à dire moins de 24 ans.
    . La moitié des patients a au plus 43 ans. 
    . 25% des patients sont des vieux.
- L'indice de masse corporelle moyen est 27.32, le min est 10.1 et le max est 95.69: il ya donc des indice anormalement élévés

In [16]:
df[col_cat].describe().T

                  count unique      top   freq
gender           100000      3   Female  58552
hypertension     100000      2        0  92515
heart_disease    100000      2        0  96058
smoking_history  100000      6  No Info  35816
diabetes         100000      2        0  91500

In [23]:
for col in col_cat:
    print(col + "--->",df[col].unique())

gender---> ['Female' 'Male' 'Other']
hypertension---> [0, 1]
Categories (2, int64): [0, 1]
heart_disease---> [1, 0]
Categories (2, int64): [0, 1]
smoking_history---> ['never' 'No Info' 'current' 'former' 'ever' 'not current']
diabetes---> [0, 1]
Categories (2, int64): [0, 1]